# Python
.venv/
__pycache__/
*.pyc

# Outputs
results/
data/
*.csv
*.json
*.npy
*.npz

# Tutorial reference outputs
!examples/measure_laserbeamfoam/expected_outputs/
!examples/measure_laserbeamfoam/expected_outputs/**

# ML artifacts
*.h5
*.joblib
*.pkl

# OpenFOAM / simulations
case*/
run*/
processor*/
constant/
system/
log.*

# OS
.DS_Store

# Allow this base OpenFOAM case to be versioned
!examples/generate/COARSE/base_case_of2412/constant/
!examples/generate/COARSE/base_case_of2412/system/
